:root {
  /* Font size */
  --root-font-size: 1rem;

  /* Spacing */
  --space-xxs: 8px;
  --space-xs: 16px;
  --space-sm: 24px;
  --space-md: 32px;
  --space-lg: 48px;

  /* Colors */
  --primary: hsl(160deg, 100%, 30%);
  --secondary-light:  hsl(45deg, 100%, 50%);
  --secondary-dark: hsl(45deg, 100%, 40%);
  --black: hsl(0deg, 0%, 0%);
  --darker: hsl(0deg, 0%, 10%);
  --dark: hsl(0deg, 0%, 30%);
  --dark-snow: hsl(0deg, 0%, 40%);
  --snow: hsl(0deg, 0%, 60%);
  --white: hsl(0deg, 0%, 100%);
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: var(--root-font-size);
  color: var(--black);
}

/* Add styles here! */

/* Header */
header {margin-top: var(--space-md);}

.intro-chunk {padding: var(--space-sm);}

/* Main */
main {
  padding-top: var(--space-lg);
  padding-bottom: var(--space-lg);
  background-color: var(--snow);
  border-top: 5px solid var(--dark-snow);
}

.max-width-wrapper {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  padding: var(--space-sm) var(--space-sm) var(--space-xxs);
  background-color: var(--white);
  border-bottom: 5px solid var(--dark-snow);
}

p > strong {
  color: var(--primary);
}

.indented-heading {
  display: inline-block;
  margin-top: calc(var(--space-xs) * -1);
  margin-left: calc(var(--space-md) * -1);
  margin-bottom: 0;
  padding: var(--space-xs) var(--space-md);
  background-color: var(--secondary-light);
  border-bottom: 5px solid var(--secondary-dark);
}
